* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

section.main {
  height: 100vh;
  background: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  background: #fff;
  border-radius: 10px;
  width: 710px;
  height: 280px;
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.15);
  display: flex;
}

.card-img {
  background: url("../images/drawers.jpg") no-repeat center center/cover;
  width: 110%;
  background-position: 0px center;
  border-radius: 10px 0px 0px 10px;
}

.content {
  padding: 28px;
}

.content h1 {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  margin-bottom: 10px;
}

.content > p {
  color: hsl(214, 17%, 51%);
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 20px;
}

.credentials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-info {
  display: flex;
  align-items: center;
}

.credentials img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.post-info .name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.post-info p.post-date {
  margin-top: 3px;
  color: hsl(212, 23%, 69%);
  font-weight: 500;
}

a.share-holder {
  height: 35px;
  width: 35px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  cursor: pointer;
}

a.share-holder img {
  height: 35%;
  width: 50%;
  position: relative;
  left: 9px;
  top: 9px;
}

a.share-holder:hover {
  background: #ccc;
}

a.share-holder:active {
  transform: translateY(2px);
}

/* Share Menu */

.popup-container {
  position: relative;
  visibility: hidden;
}

.show {
  visibility: visible;
  animation: fadeIn ease 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup-container .share-menu {
  position: absolute;
  right: -55px;
  bottom: 105px;
  background: hsl(217, 19%, 35%);
  height: 30px;
  width: 220px;
  color: hsl(212, 23%, 69%);
  letter-spacing: 3px;
  padding: 28px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-container .share-menu a {
  margin: 0 5px;
}

.popup-container .share-menu:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

/* Attribution */
.attribution {
  margin-top: -50px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
